<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.movekos">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="ExtraText">
        <activity android:name=".HowtoOrderActivity"></activity>
        <activity android:name=".ForgotPasswordActivity" />
        <activity android:name=".SecondFragment" />
        <activity android:name=".FirstFragment" />
        <activity android:name=".RegisterFragment" />
        <activity android:name=".LoginFragment" />
        <activity android:name=".AuthenticationActivity" />
        <activity android:name=".OrderActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAQ7FVP_6AWZD1AEC8DX2YEv340-esE6Mo" />

        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home" />
    </application>

</manifest>